<aside class="widget">
    <h3 class="widget-title">关于我</h3>
    <div class="widget-content">
      <p>邮箱：thufelixc(at)gmail.com</p>
      <p>微信：dyx278923692</p>
      <p>QQ: 278923692</p>
    </div>
</aside>