<% if (!index && post.comments){ %>
<section id="comments">
    <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
    <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
    <script>
    var gitment = new Gitment({
      owner: 'YXDay',
      repo: 'YXDay.github.io',
      oauth: {
        client_id: '11f832eadc3159a45aad',
        client_secret: 'b6ba3d17d69770cf99fc47b250cde0d1bf4c5d41',
      },
    })
    gitment.render('comments')
    </script>
</section>
<% } %>
